{% extends 'base.html' %}
{% block contents %}

<head>
    <title>Sign In</title>
</head>

<div class="row justify-content-center">

<h1 style="padding: 20px">Choose A Login</h1></div>
    <div class="row justify-content-center" >
<a style="padding: 20px" href="/accounts/customer/login"><button type="button" class="btn btn-secondary">Customer Login</button></a>
    </div><div class="row justify-content-center" >
<a style="padding: 20px" href="/accounts/employee/login"><button type="button" class="btn btn-secondary">Employee Login</button></a>
        </div>

{% endblock %}
