{% extends 'base.html' %}
{% block extra_css %}
{% endblock %}
{% block contents %}

<head>
    <title>Account Details</title>
</head>

<div>

    <div class="jumbotron gradient-bg">
        <h1 class="display-4">Account Details</h1>
        <p class="lead">{{account.account_type.account_type_name}} {{account.account_number}}</p>
        <p>Routing Number 123456789</p>
        <hr class="my-4">
        <p class="lead">Balance: ${{account.balance}}</p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="account_number" value="{{account.account_number}}"></input>
            <input class="btn btn-danger" type="submit" name="type" value="Close Account">
        </form>
    </div>
    <h3>Transaction History</h3>
    {% if account.exchange_history %}
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Posted</th>
            </tr>
        </thead>
        <tbody>
            {% for exchange in account.exchange_history %}
            <tr>
                <td>{{exchange.type}}</td>
                <td>{{exchange.amount}}</td>
                <td>{{exchange.status}}</td>
                <td>{{exchange.posted}}</td>
            </tr>
            {% if exchange.image %}
            <tr>
                <td colspan="4">
                    <img src="data:img/jpeg;base64, {{exchange.image}}" alt="Check Image" width="400"/>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>This account has not seen any withdraws or deposits</p>
    {% endif %}
</div>
{% endblock %}
