{% extends 'base.html' %}
{% block extra_css %}
{% endblock %}
{% block contents %}

<head>
    <title>Account Details</title>
    <script>
        function toggle_row(id) {
            element = document.getElementById(id);
            if (element.classList.contains('expand-row-toggle'))
                element.classList.remove('expand-row-toggle');
            else
                element.classList.add('expand-row-toggle');
        }
    </script>
</head>

<div>

    <div class="jumbotron gradient-bg">
        <h1 class="display-4">Account Details</h1>
        <p class="lead">{{account.account_type.account_type_name}} {{account.account_number}}</p>
        <p>Routing Number 123456789</p>
        <hr class="my-4">
        <p class="lead">Balance: ${{account.balance}}</p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="account_number" value="{{account.account_number}}"></input>
            <input class="btn btn-danger" type="submit" name="type" value="Close Account"
                   onclick="return confirm('Are you sure you want to close this bank account?')">
        </form>
    </div>
    <h3>Transaction History</h3>
    {% if account.exchange_history %}
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Posted</th>
            </tr>
        </thead>
        <tbody>
            {% for exchange in account.exchange_history %}
            <tr id="exch-{{exchange.pk}}" class="expand-row" onclick="toggle_row('exch-{{exchange.pk}}')">
                <td>{{exchange.type}}</td>
                <td>{{exchange.amount}}</td>
                <td>{{exchange.status}}</td>
                <td>{{exchange.posted}}</td>
            </tr>
            <tr class="expandable-row">
                {% if exchange.image %}
                <td colspan="2">
                    <p>
                        From Account: {{exchange.from_account_no}}<br>
                        From Routing: {{exchange.from_routing_no}}<br>
                        To Account: {{exchange.to_account_no}}<br>
                        To Routing: {{exchange.to_routing_no}}
                    </p>
                </td>
                <td colspan="2">
                    <img src="data:img/jpeg;base64, {{exchange.image}}" alt="Check Image" width="400"/>
                </td>
                {% else %}
                <td colspan="4">
                    <p>
                        From Account: {{exchange.from_account_no}}<br>
                        From Routing: {{exchange.from_routing_no}}<br>
                        To Account: {{exchange.to_account_no}}<br>
                        To Routing: {{exchange.to_routing_no}}
                    </p>
                </td>
                {% endif %}
            </tr>

            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>This account has not seen any withdraws or deposits</p>
    {% endif %}
</div>
{% endblock %}
