{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block head_title %}Manager View{% endblock %}

{% block contents %}
<div>
    <h1>Today's Status</h1>
    <ul>
        <li>Number of Customers: {{headline.customer_count}}</li>
        <li>Number of Transfer's Processed: {{headline.exchange_count}}</li>
        <li>Money Managed by our Bank: ${{headline.total_balance}}</li>
    </ul>
    <h2>Search For Customers</h2>
    <form id="customer_search_form" method="post">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}


        <div class="form-row">
            {% for field in form %}
            {% if field not in form.hidden_fields %}
            <div class="col">
            {{field.label}}{{ field }}
                {% if field.errors %}
                <div class="alert-message">
                    {{ field.errors }}
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            <div class="col"><button type="submit" name="search_customers" class="btn-block btn btn-lg btn-primary">Search</button></div>
        </div>
    <table>
        <tr>
            <th>Customer Name</th>
            <th>Phone No.</th>
            <th>Email</th>
            <th>SSN</th>
            <th>Address</th>
            <th>Account Count.</th>
        </tr>
        {% for entry in customers_table.users %}
        <tr>
            <td>{{entry.customer_name}}</td>
            <td>{{entry.customer_phone}}</td>
            <td>{{entry.customer_email}}</td>
            <td>{{entry.customer_ssn}}</td>
            <td>{{entry.customer_address}}</td>
            <td>{{entry.accounts|length}}</td>
        </tr>
        {% endfor %}
    </table>

    </form>

    <h2>Customer Details</h2>
    AHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
</div>
{% endblock %}
