{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block head_title %}Manager View{% endblock %}

{% block contents %}
<div>
    <h1>Today's Status</h1>
    <ul>
        <li>Number of Customers: {{headline.customer_count}}</li>
        <li>Number of Transfer's Processed: {{headline.exchange_count}}</li>
        <li>Money Managed by our Bank: ${{headline.total_balance}}</li>
    </ul>
    <h2>Search For Customers</h2>
    <form id="customer_search_form" method="post">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}


        <div class="form-row">
            {% for field in form %}
            {% if field not in form.hidden_fields %}
            <div class="col">
            {{field.label}}{{ field }}
                {% if field.errors %}
                <div class="alert-message">
                    {{ field.errors }}
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            <div class="col"><button type="submit" name="search_customers" class="btn-block btn btn-lg btn-primary">Search</button></div>
        </div>
        <script>
            var order_by_toggle = {
                customer_name: true,
                customer_phone: true,
                customer_address: true,
                customer_email: true,
                customer_ssn: true,
                accounts_count: true,
            };
            current_order = document.getElementsByName('order_by')[0].value
            order_by_toggle[current_order.replace('-','')] = current_order[0]!='-';
            function set_ordering(field) {
                order_by_toggle[field] = !order_by_toggle[field];
                asc = order_by_toggle[field];
                document.getElementsByName('order_by')[0].value = asc ? `${field}` : `-${field}`;
                document.getElementById("customer_search_form").submit();
            }
        </script>
    <table class="table">
        <tr>
            <th onclick="set_ordering('customer_name')" style="cursor:pointer;">Customer Name</th>
            <th onclick="set_ordering('customer_phone')" style="cursor:pointer;">Phone No.</th>
            <th onclick="set_ordering('customer_email')" style="cursor:pointer;">Email</th>
            <th onclick="set_ordering('customer_ssn')" style="cursor:pointer;">SSN</th>
            <th onclick="set_ordering('customer_address')" style="cursor:pointer;">Address</th>
            <th>Account Count.</th>
        </tr>
        {% for entry in customers_table.users %}
        <tr> <!--onclick="// send a request to get this customers details report" >-->
            <td>{{entry.customer_name}}</td>
            <td>{{entry.customer_phone}}</td>
            <td>{{entry.customer_email}}</td>
            <td>{{entry.customer_ssn}}</td>
            <td>{{entry.customer_address}}</td>
            <td>{{entry.accounts|length}}</td>
        </tr>
        {% endfor %}
    </table>

    </form>

    <h2>Customer Details</h2>
    AHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
</div>
{% endblock %}
