<!DOCTYPE html>

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
{% load static %}

<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type='text/css' href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="https://cccabinet.jpn.org/bootstrap4/css/style.css">
    <title> Online Banking </title>

    {% block extra_css %}{% endblock %}

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg fixed-top navbar-dark bs-navbar" style='background-color:cadetblue;'
                    id="bs-navbar">
                    <a class="navbar-brand mr-md-2" href="/landing/">
                        Online Banking Service
                    </a>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="#"> </a></li>
                        <li class="nav-item"><a class="nav-link" href="#"> </a></li>
                    </ul>
                    <ul class="navbar-nav">
                        <!--
                        <li class="nav-item"><a class="nav-link" href="/transaction/">Transaction Page</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/atm/search/">ATM SEARCH Page</a>
                        </li>
                        -->
                        {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="/accounts/logout">Logout</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="/accounts/signup/">Sign Up Page</a></li>
                        <li class="nav-item"><a class="nav-link" href="/accounts/login">Login</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <!-- sidebar and contents -->
    <div id="content" class="container-fluid">
        <div class="row flex-xl-nowrap">

            <!-- ↓↓ sidebar ↓↓ -->
            <div id="sidemenu" class="col-2 d-none d-md-block bg-light sidebar align-self-start">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">

                        <li class="nav-item">
                            <nav class="navbar navbar-light bg-light">
                                <a class="navbar-brand" href="/landing/">
                                    <span data-feather="">Landing</span>
                                </a>
                            </nav>
                        </li>
                        <li class="nav-item">
                            <nav class="navbar navbar-light bg-light">
                                <a class='navbar-brand' href='/transaction/'>
                                    <span data-feather="">Transaction</span>
                                </a>
                            </nav>
                        </li>
                        <li class="nav-item">
                            <nav class="navbar navbar-light bg-light">
                                <a class='navbar-brand' href='/atm/search/'>
                                    <span data-feather="">Search ATM</span>
                                </a>
                            </nav>
                        </li>
                        <!--
                        <li class="nav-item">
                            <nav class="navbar navbar-light bg-light">
                                <a class='navbar-brand' href='/accounts/signup/'>
                                    <span data-feather="">Sign Up Page</span>
                                </a>
                            </nav>
                        </li>
                        <li class="nav-item">
                            <nav class="navbar navbar-light bg-light">
                                <a class='navbar-brand' href='/accounts/login/'>
                                    <span data-feather="">Login Page</span>
                                </a>
                            </nav>
                        </li>
                        <li class="nav-item">
                            <nav class="navbar navbar-light bg-light">
                                <a class='navbar-brand' href='/accounts/logout/'>
                                    <span data-feather="">Logout Page</span>
                                </a>
                            </nav>
                        </li>
                        -->
                    </ul>
                </div>
            </div id="sidemenu">
            <!-- ↑↑ sidebar end↑↑ -->

            <!-- ↓↓ contetns ↓↓ -->
            <div class="col-10">
                {% block contents %}
                {% endblock %}
            </div>
            <!-- ↑↑ contents end↑↑ -->
        </div>
    </div>
    </div>
</body>

</html>
