{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block contents %}
<div class="row">
    <div class="col-md-4 mx-auto">
        <h1>{{title}}</h1>
        <p>{{message}}</p>
        <a href="{{continue_button_redirect}}"><button type="button" class="btn btn-secondary">{{continue_button_text}}</button></a>
    </div>
</div>

{% endblock %}
