{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}


{% block contents %}

<div>
    {% if request.user.is_authenticated %}

    <div>
        <h1 class="text-center">{{ username }}</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Account No.</th>
                <th>Account Type</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for account in account_list %}
            <tr onclick="document.location = '../bankaccount/details/{{account.account_number}}'"
                style="cursor:pointer;">
                <td>{{account.account_number}}</td>
                <td>{{account.account_type.account_type_name}}</td>
                <td>${{account.balance}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No accounts</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- add auto payment table -->
    <h3>Autopayment list</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Autopayment ID</th>
                <th>Schedule</th>
                <th>Frequency</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% if auto_list %}
            {% for payment in auto_list %}
            <tr onclick="document.location = '../autopayment/details/{{payment.autopayment_id}}'" style="cursor:pointer;">
                <td>{{payment.autopayment_id}}</td>
                <td>{{payment.payment_schedule.start_date}} -- {{payment.payment_schedule.end_date}}</td>
                <td>{{payment.payment_schedule.payment_frequency}}</td>
                <td>${{payment.transfer_amount}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No Autopayment scheduled</td>
            </tr> {% endfor %} 
            {% endif %}
        </tbody>
    </table>

    


    <div class="d-flex justify-content-around">
        <a href="../atm/search"><button type="button" class="btn btn-primary">Withdraw</button></a>
        <!-- Withdraw will re-direct the user to the ATM search page -->
        <a href="../transaction/deposit"><button type="button" , class="btn btn-success">Deposit
                Check</button></a>
        <!-- Re-direct to the check deposit page -->
        <a href="../bankaccount"><button type="button" class="btn btn-secondary">Open Account</button></a>
        <!-- Re-direct to the open account page -->
    </div>

    {% else %}
    <div>
        <h1>Hello, {{ username }}!</h1>
        <h1>Welcome to Online Bank</h1>
        <p>We don't pay interest. You've been warned.</p>
        <p>To start using online bank, please login or signup.</p>
    </div>
    {% endif %}
</div>

{% endblock %}
