{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}


{% block contents %}

<div>
    <h1> ATM Locator</h1>
    <p>Look for an ATM nearest to you with the map below</p>
    <input id="inp_address" type="text" placeholder="Address" /><button type="button" id="inp_srch" class="btn btn-primary">Go</button>
</div>

<div id="map"></div>
<div id="dir_box"></div>
<!-- Replace the value of the key parameter with your own API key. -->

<script>
var map, infoWindow, service, dstmatservice, directionsServ, directionsRend, userMarker, atmLocations, userPos, markers;
    markers = [];
    function clearMarkers() {
        for (let i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }

    function getRouteCost(directionResponse) {
        let route_cost = 0;
        to_route = directionResponse.routes[0];
        for (const leg of to_route.legs) {
            route_cost = route_cost + leg.duration.value;
        }
        console.log(route_cost);
        return route_cost;
    }

    function getClosestATM(places, loc_callback) {
        var dstmatreq = {
            origins: [userPos],
            destinations: places.map((x)=>x.geometry.location),
            travelMode: 'DRIVING',
            drivingOptions: {
                departureTime: new Date(),
            }
        };

        dstmatservice.getDistanceMatrix(dstmatreq, (response, status) => {
            if (status === "OK") {
                let locations = response.rows[0].elements;
                let best_index = 0;
                console.log(response);
                if (locations.length > 1) {
                    for (let i = 1; i < locations.length; i++) {
                        if (locations[best_index].duration_in_traffic.value >
                            locations[i].duration_in_traffic.value)
                            best_index = i;
                    }
                }
                let best_place = places[best_index];

                directionsServ.route({
                            origin: userPos,
                            destination: { placeId: best_place.place_id },
                            travelMode: google.maps.TravelMode.DRIVING,
                        }, (response, status)=>{
                        if (status === "OK")
                            loc_callback(response, null);});
            }
        });
    }

    function callback(results, status) {
        console.log("callback called");
        if (status == google.maps.places.PlacesServiceStatus.OK) {
            atmLocations = results;
            for (var i = 0; i < results.length; i++) {
                var place = results[i];
                createMarker(results[i]);
            }

            getClosestATM(results, (fastest_route, closest_atm) => {
                console.log("new route found");
                directionsRend.setDirections(fastest_route);
                directionsRend.setPanel(document.getElementById('dir_box'));
            });

        }
    }

    function searchAddress() {
        input_text = document.getElementById("inp_address").value
        let loc_request = {
            query: input_text,
            fields: ["geometry"]
        }

        service.findPlaceFromQuery(loc_request, (result, status)=>{
            if (status === "OK" &&
                result.length) {
                clearMarkers();
                pos = result[0].geometry.location;
                userPos = pos;
                map.setCenter(userPos);
                //Put marker of the Geolocated user location

                userMarker = new google.maps.Marker({
                    map: map,
                    position: userPos
                });

                markers.push(userMarker);
                requestAtm = {
                    location: userPos,
                    rankBy: google.maps.places.RankBy.DISTANCE,
                    name: "Chase ATM",
                };
                service.nearbySearch(requestAtm, callback);
            } else {
                alert("No location with that address was found");
            }
        });

    }

    function createMarker(place) {
        var type = place.types;
        var iconStyle;
        for (var i = 0; i < type.length; i++) {
            //put array of Place types in placeType variable
            var placeType = type[i];

            //Check the placeType and set the icon according to the placeType value
            switch (placeType) {
                case "bank":
                case "atm":
                    iconStyle = "http://maps.google.com/mapfiles/kml/shapes/dollar.png";
                    break;

            }
        }

        //put marker of the places in the map
        var marker = new google.maps.Marker({
            map: map,
            icon: iconStyle,
            position: place.geometry.location
        });
        markers.push(marker);
        google.maps.event.addListener(marker, 'click', function () {
            infoWindow.setContent(place.name);
            console.log(place);
            infoWindow.open(map, this);

            directionsServ.route({
                origin: userPos,
                destination: { placeId: place.place_id },
                travelMode: google.maps.TravelMode.DRIVING,
            }, (response, status) => {
                if (status === "OK") {
                    directionsRend.setDirections(response);
                    directionsRend.setPanel(document.getElementById('dir_box'));
                } else {
                    window.alert("Could not find route");
                }
            });
        });
    }


    function initMap(listener) {
        console.log("init called");
        directionsServ = new google.maps.DirectionsService();
        directionsRend = new google.maps.DirectionsRenderer();
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 37.335,
                lng: -121.893
            },
            zoom: 14
        });
        google.maps.event.trigger(map, 'resize');
        infoWindow = new google.maps.InfoWindow;

        directionsRend.setMap(map); // tell the direction renderer to draw on our map

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                userPos = pos;


                map.setCenter(pos);
                //Put marker of the Geolocated user location
                userMarker = new google.maps.Marker({
                    map: map,
                    position: pos
                });
                markers.push(userMarker);
                google.maps.event.addListener(userMarker, 'click', function () {
                    infoWindow.setContent('Your location');
                    infoWindow.open(map, this);
                });

                //Put request in here there are 3 requests since nearbysearch only has one type to be specified

                var requestAtm = {
                    location: pos,
                    //radius: '8000',
                    rankBy: google.maps.places.RankBy.DISTANCE,
                    name: "Chase ATM",
                    //type: ['atm']
                };


                //Make Places Service requests here
                service = new google.maps.places.PlacesService(map);
                dstmatservice = new google.maps.DistanceMatrixService();
                //service.nearbySearch(requestHosp, callback);
                service.nearbySearch(requestAtm, callback);
                //service.nearbySearch(requestPolice, callback);

            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
        document.getElementById("inp_srch").addEventListener("click", searchAddress);
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDamWFunMMAYarn_Ov3fUx3ze_kw6uEFjM&callback=initMap&libraries=places">
</script>
<style>
    /* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
    #map {
        height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

{% endblock %}
