{% extends 'base.html' %}
{% block contents %}

<div>
    <h1> ATM Locator</h1>
    <p>Look for an ATM nearest to you with the map below</p>
    <input type="text" placeholder="Enter Current Location">
</div>

<div id="map"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqLzAMqgeVjFb9sf1LLL2heFhLjy8NEYY&callback=initMap&libraries=places">
    </script>

<script>
    var map, infoWindow, service, directionsServ, directionsRend, userMarker, atmLocations, userPos;

    function initMap(listener) {
        directionsServ = new google.maps.DirectionsService();
        directionsRend = new google.maps.DirectionsRenderer();
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 37.335,
                lng: -121.893
            },
            zoom: 14
        });
        google.maps.event.trigger(map, 'resize');
        infoWindow = new google.maps.InfoWindow;

        directionsRend.setMap(map); // tell the direction renderer to draw on our map

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                userPos = pos;


                map.setCenter(pos);
                //Put marker of the Geolocated user location
                userMarker = new google.maps.Marker({
                    map: map,
                    position: pos
                });

                google.maps.event.addListener(userMarker, 'click', function () {
                    infoWindow.setContent('Your location');
                    infoWindow.open(map, this);
                });

                //Put request in here there are 3 requests since nearbysearch only has one type to be specified

                var requestAtm = {
                    location: pos,
                    radius: '8000',
                    name: "Chase ATM",
                    //type: ['atm']
                };


                //Make Places Service requests here
                service = new google.maps.places.PlacesService(map);
                //service.nearbySearch(requestHosp, callback);
                service.nearbySearch(requestAtm, callback);
                //service.nearbySearch(requestPolice, callback);

            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }

    function callback(results, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
            atmLocations=results;
            for (var i = 0; i < results.length; i++) {
                var place = results[i];
                createMarker(results[i]);
            }
        }
    }

    function createMarker(place) {
        var type = place.types;
        var iconStyle;
        for (var i = 0; i < type.length; i++) {
            //put array of Place types in placeType variable
            var placeType = type[i];

            //Check the placeType and set the icon according to the placeType value
            switch (placeType) {
                case "bank":
                case "atm":
                    iconStyle = "http://maps.google.com/mapfiles/kml/shapes/dollar.png";
                    break;

            }
        }

        //put marker of the places in the map
        var marker = new google.maps.Marker({
            map: map,
            icon: iconStyle,
            position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function () {
            infoWindow.setContent(place.name);
            console.log(place);
            infoWindow.open(map, this);

            directionsServ.route({
                origin: userPos,
                destination: {placeId: place.place_id},
                travelMode: google.maps.TravelMode.DRIVING,
            }, (response, status) => {
                if (status === "OK") {
                    directionsRend.setDirections(response);
                } else {
                    window.alert("Could not find route");
                }
            });
        });
    }
</script>

<style>
    /* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
    #map {
        height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

{% endblock %}
