<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Deposit</title>
    <h1>Check Deposit</h1>



</head>
<body>
<p>Upload image of check here and specify account you wish to deposit money into</p>

<p1>
    <label>Routing Number:</label>
    <input type = "text"/>
</p1>
<br><br><p2>
    <label>Account Number:</label>
    <input type = "text"/>
</p2>
<br><br><p3>
    <label>Amount:</label>
    <input type = "text"/>
</p3>

<br><br><label for="Accounts">Account:</label>

<select name="accounts" id="account_id">
  <option value="Checking Account">Checking</option>
  <option value="Savings Account">Savings</option>
</select>

<p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
<p>
    <button>
    <label for="file" style="cursor: pointer;">Upload Check Image</label>
    </button>
</p>
<p><img id="output" width="200" /></p>

<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>

</body>
</html> -->

{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}


{% block contents %}
<h1 class="text-center">{{form_title}}</h1>
<form class="signup" action="{{action}}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 md-offset-3 mx-auto">
            {% for field in form %}
            <div class="form-group field d-inline">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="form-group field">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
